<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodeRED | Problems</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png" />
  </head>
  <body>
    <h1>{{topic.name}}</h1>

    <ul>
      {% for problem in problems %}

        <li>
            <a href="{% url 'questions' problem.id %}">{{problem.title}}</a>
            <p>{{problem.statement}}</p>
        </li>
      
        {% endfor %}
    </ul>

    <a href="{% url 'topics' %}">Back to Topics</a>

  </body>
</html>
